body {
  overflow-x: hidden;
}

.main-header,.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding-inline: 1.5rem;
}

.main-header-container, .content-section-container {
  width: clamp(40rem, 80vw, 75rem);
  
  @media screen and (max-width: 42.5em) {
    width: 100%;
  }
}

.content-section-container {
  display: grid;
  gap: 3rem;
}

.main-header {
  margin-block-start: 6rem;
  margin-block-end: 2rem;
  color: white;
  font-size: 1.8rem;
  /* font-size: clamp(1.3rem, 1.6vw,1.8rem); */
}

.content-section {
  background-color: white;
  padding-block: 3rem;
  color: rgba(0, 0, 0, 0.8);
}

.content-header {
  padding-block-end: 2rem;
  font-size: 1.6rem;
  /* font-size: clamp(1.1rem, 1.4vw,1.6rem); */

  h2 {
    position: relative;
  }

  h2::after {
    content: "";
    position: absolute;
    bottom: clamp(-0.7rem, -0.6vw, 0.2rem);
    left: 0;
    border-top-right-radius: 1rem;
    width: clamp(0.5rem, 0.9vw ,1rem);
    aspect-ratio: 3.1/1;
    background-color: rgb(102, 102, 255);
  }
}

.content-text-group {
  display: grid;
  gap: 1rem;
  line-height: 1.7;
  font-size: clamp(1.1rem, 1.62vw,1.35rem);
}