body {
  overflow-x: hidden;
}

.main-header,.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding-inline: 1.5rem;
}

.main-header-container, .content-section-container {
  width: clamp(40rem, 80vw, 75rem);
  
  @media screen and (max-width: 42.5em) {
    width: 100%;
  }
}

.main-header {
  margin-block-start: 6rem;
  margin-block-end: 2rem;
  color: white;
  font-size: clamp(1.2rem, 1.5vw,1.7rem);
}

.content-section {
  background-color: white;
  padding-block: 3rem;
  color: rgba(0, 0, 0, 0.8);
}

.content-header {
  padding-block-end: 2rem;
  font-size: clamp(1rem, 1.3vw,1.5rem);
}

.content-text-group {
  display: grid;
  gap: 1rem;
  line-height: 1.7;
  font-size: clamp(0.85rem, 1.17vw,1.35rem);
}