.div-content:has(.home) {
  align-self: center;
  justify-self: center;
}

.home {
  display: grid;
  justify-items: center;
  /* 1.25 2.5 */
  gap: clamp(1.25rem, 2.48vw,2.5rem);
}

.home-img {
  width: clamp(20rem, 47vw + 5.2rem,45rem);
}

.btn-home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  /* 12 20 */
  width: clamp(12rem, 23.6vw,20rem);
}

.btn-border {
  position: absolute;
}

.btn-home-text {
  position: absolute;
  color: white;
  letter-spacing: 1px;
  /* 0.9 1.5 */
  font-size: clamp(0.9rem, 1.76vw,1.5rem);
  font-weight: 600;
}