.div-content:has(.home) {
  align-self: center;
  justify-self: center;
}

.home {
  display: grid;
  justify-items: center;
  gap: 2.5rem;
}

.home-img {
  width: 45rem;
}

.btn-home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  width: 20rem;
}

.btn-border {
  position: absolute;
}

.btn-home-text {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}