@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: max-content 1fr;
  min-height: 100vh;
  font-family: Roboto, Verdana, sans-serif;
}

button {
  font: inherit;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

.div-content {
  width: 100vw;
}