* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

.btn-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin-inline: -0.2rem;
  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.btn-header-text {
  position: absolute;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
}